*{
    margin: 0px;
    padding: 0px;
}

.Contenedor-P {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    margin-left: 10%;
}

.Contenedor-1 {
    width: 180px;
    height: 200px;
    background: #8FFFEB;
    border: 0.5px solid #D1D1D1;
    box-sizing: border-box;
    box-shadow: 5px 5px 4px 1px rgba(166, 166, 166, 0.26);
    border-radius: 10px;
    display: block;
    margin-left: 50%;
}
.Contenedor-2{
    width: 180px;
    height: 200px;;
    background: #8FD0FF;
    border: 0.5px solid #D1D1D1;
    box-sizing: border-box;
    box-shadow: 5px 5px 4px 1px rgba(166, 166, 166, 0.26);
    border-radius: 10px;
    cursor: pointer;
    display: block;
}

.Contenedor-3{
    width: 180px;
    height: 200px;
    background: #FF9490;
    border: 0.5px solid #D1D1D1;
    box-sizing: border-box;
    box-shadow: 5px 5px 4px 1px rgba(166, 166, 166, 0.26);
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin-left: -50%;
}

.Contenedor-4{
    width: 180px;
    height: 200px;
    background: #FFCC8F;
    border: 0.5px solid #D1D1D1;
    box-sizing: border-box;
    box-shadow: 5px 5px 4px 1px rgba(166, 166, 166, 0.26);
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin-left: 75%;
}

.Contenedor-5{
    width: 180px;
    height: 200px;
    background: #B4B0DE;
    border: 0.5px solid #D1D1D1;
    box-sizing: border-box;
    box-shadow: 5px 5px 4px 1px rgba(166, 166, 166, 0.26);
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin-left: 25%;
}

.Contenedor-1 img{
    margin: 0 auto;
    margin-top: 15px;
    display: block;
    margin-bottom: 15px;
}

.Contenedor-2 img{
    margin: 0 auto;
    margin-top: 15px;
    display: block;
    margin-bottom: 15px;
}

.Contenedor-3 img{
    margin: 0 auto;
    margin-top: 15px;
    display: block;
    margin-bottom: 15px;
}

.Contenedor-4 img{
    margin: 0 auto;
    margin-top: 25px;
    display: block;
    margin-bottom: 15px;
}

.Contenedor-5 img{
    margin: 0 auto;
    margin-top: 25px;
    display: block;
    margin-bottom: 15px;
}

.Contenedor-1:hover{
    transition: 0.1s;
    opacity: 0.9;
    border: 2px solid black;
}

.Contenedor-1:active {
    transform: translateY(5px);
}

.Contenedor-2:hover{
    transition: 0.1s;
    opacity: 0.9;
    border: 2px solid black;
}

.Contenedor-2:active {
    transform: translateY(5px);
}

.Contenedor-3:hover{
    transition: 0.1s;
    opacity: 0.9;
    border: 2px solid black;
}

.Contenedor-3:active {
    transform: translateY(5px);
}

.Contenedor-4:hover{
    transition: 0.1s;
    opacity: 0.9;
    border: 2px solid black;
}

.Contenedor-4:active {
    transform: translateY(5px);
}

.Contenedor-5:hover{
    transition: 0.1s;
    opacity: 0.9;
    border: 2px solid black;
}

.Contenedor-5:active {
    transform: translateY(5px);
}