.C-P .Title{
    grid-area: Title;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;

}


.C-P {
    display: grid;
    grid-template-areas: "Title Title""Labels Information";
    width: 90%;
    height: 650px;
    background: #8FD0FF;
    margin-left: 5%;
    margin-top: 0px;
    margin-bottom: 50px;
    border-radius: 10px;
    grid-template-rows: 20% 1fr 10px;
    grid-template-columns: 30% 2fr;
    
}

.C-P .Labels{
    grid-area: Labels;
    position: relative;
    width: 90px;
    height: 90px;
    background-color: #fff;
    border-radius: 50%;
    top: 100px;
    margin-left: 140px;
}

.Labels img:first-child {
    position: absolute;
    top: 20px;
    left: 30px;
}

.C-P .Information {
    grid-area: Information;
    margin-bottom: 10px;
}

.PersonaQueRecibe {
    margin-top: 50px;
    color: black;
    font-weight: bold;
}

.C-P .btnTrack {
    width: 181px;
    height: 37px;
    left: 534px;
    top: 457px;
    border-radius: 20px;
    background-color: #2097F6;
    font-size: 18px;
    cursor: pointer;
    margin: 0;
    bottom: 10px;
    color: #fff;

}

.C-P .btnTrack:hover {
    background-color: white;
    border: 2px solid #2097F6;
    transition: 0.2s;
    color: #2097F6;
}

.C-P .btnTrack:active {
    transform: translateY(4px);
}

.C-P .btnEnvios {
    width: 280px;
    height: 37px;
    left: 534px;
    top: 457px;
    border-radius: 20px;
    background-color: #2097F6;
    font-size: 18px;
    cursor: pointer;
    margin: 0;
    bottom: 10px;
    color: #fff; 
}

.C-P .btnEnvios:hover {
    background-color: white;
    border: 2px solid #2097F6;
    transition: 0.2s;
    color: #2097F6;
}

.C-P .btnEnvios:active {
    transform: translateY(4px);
}