*{
    margin: 0px;
    padding: 0px;
}

.C-P {
    display: grid;
    grid-template-areas: "Title Title" "Labels Information";
    width: 90%;
    height: 650px;
    background: #8FD0FF;
    margin-left: 5%;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius:10px;
    grid-template-rows: 20% 1fr 0px;
    grid-template-columns: 20% 1fr;
}


.C-P .Title{
    grid-area: Title;
    background: blue;
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
}

.C-P .Labels{
    grid-area: Labels;
    background: red;
    margin-bottom: 10px;
}
.C-P .Information{
    grid-area: Information; 
    background: black;
    margin-bottom: 10px;
}