.main-UIP {
  width: 100%;
}

.main-UIP>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  height: 40px;
  margin: 0 auto;
  border: 1px solid rgba(22, 26, 29, 0.356);
  border-radius: 22px;
}

.main-UIP>div {
  border: 1px solid rgb(92, 187, 255);
  cursor: text;
}

.main-UIP div input {
  border: none;
  outline: none;
  width: 100%;
  margin: 0 8px;
  padding-left: 8px;
  font-size: 20px;
  overflow: hidden;
}

.main-UIP div svg {
  font-size: 26px;
  margin-right: 10px;
  cursor: pointer;
}

.container-lists-UIP {
  width: 90%;
  height: 550px;
  margin: 35px auto;

  border: 0.5px solid #D1D1D1;
  border-radius: 10px;
  overflow: auto;
}

.container-lists-UIP::-webkit-scrollbar {
  width: 8px;
}

.container-lists-UIP::-webkit-scrollbar-thumb {
  background: rgb(92, 187, 255);
  border-radius: 4px;
}

.title-lists-UIP {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  background-color: rgba(92, 187, 255, 0.507);
  border-radius: 12px;
  font-weight: 700;
  padding: 15px 5px;
}

@media (max-width: 800px) {
  .title-lists-UIP {
    display: none;
  }
}

@media (min-height: 900px) {
  .container-lists-UIP {
    height: 700px;
  }
}

@media (min-width: 800px) {
  .container-lists-UIP {
    height: 700px;
    padding: 50px 0;
  }

}