<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type ="text/css" href= "../styles/Home.css">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
    </style>
    <title>Home</title>
    <!-- import img1 from = "../img/box-home.png"
    <img src={img1} -->
</head>
<body>
    <div class="Contenedor-P">
        <div class = "Contenedor-1">
            <img src=""../img/box-home.png" /> 
            <img src="../img/C1.png" id="img2">
            <p> Recepción de paquetes </p>
        </div>
        </div>
        <div class = "Contenedor-2">
            <p> Asignar recogidas programadas </p>
        </div>
        <div class = "Contenedor-3">
            <p> Modificar estado del envio </p>
        </div>
        <div class = "Contenedor-4">
            <p> Reporte de envios programados </p>
        </div>
        <div class = "Contenedor-5">
            <p> Reporte de envios programados </p>
        </div>
    </div>
</body>
</html>